@font-face {
    font-family:"Montserrat";
    font-weight: 300;
    font-weight: 200;
    src:url(../font/montserrat/Montserrat-Light.ttf);
    src:url(../font/montserrat/Montserrat-ExtraLight.ttf);
}

@font-face { 
    font-family:"Raleway";
    font-weight: 800;
    font-weight: 500;
    font-weight: 600;
    font-weight: 300;
    src:url(../font/raleway/Raleway-SemiBold.ttf);
    src:url(../font/raleway/Raleway-Medium.ttf);
    src:url(../font/raleway/Raleway-ExtraBold.ttf);
    src:url(../font/raleway/Raleway-Light.ttf);
}

.page {
    font-family: "Raleway", "Montserrat", sans-serif;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    height: 100%;
    background-image:url(../img/header.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 25px 374px 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    }

.logo-ikon {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}

.logo-svg:active { 
    color: rgb(61, 54, 6);
}

.logo-svg:hover {
    color: #998675;
  }

.logo-svg {
    fill: currentColor;
    color: #ffffff;
}

.logo-txt {
    font-family: 'Raleway';
    font-size: 34px;
    color: #ffffff;
    letter-spacing: -0.04em;
    font-weight: 300;
    margin: 10px 0;
  }

  .logo-txt:hover{
    color: #998675;
  }

  .menu {
    align-items: center;
    margin: 15px 0 0 100px;
  }

 .icon-calendar {
  margin: 11px 0 0 62px;
  fill: rgb(238, 232, 220);
 }

  input[type="search"] {
    width: 25px;
    height: 26px;
    outline: none;
    background-image: url("../img/lupa3.svg");
    background-color:#363636;
    background-size: 25px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 0 0 25px;
  }

  input[type="search"]:focus {
    width: 180px;
    transition: 1s ease-out;
    background-position: right;
    color:white;
  }

  .info {
    text-decoration:none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 10px 0px 0px;
  }

  .info:hover {
    color: #998675;
  }

  .slider-arrow {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    top: 437px;
    right: 350px;
  }

  .slider-arrow:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 3px solid #d3c1ad;
    border-right: 3px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
  }

  .slider-arrow:hover:after {
    border-top: 2px solid rgba(136, 112, 68, 0.274);
    border-right: 2px solid rgba(136, 112, 68, 0.274);
  }

  .slider {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    top: 437px;
}

 .slider::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid #d3c1ad;
    border-left: 3px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
  }

 .slider:hover:after {
    border-bottom: 2px solid rgba(136, 112, 68, 0.274);
    border-left: 2px solid rgba(136, 112, 68, 0.274);
}

  .unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px 0 0 0;
  margin: 0 auto;
}

.burger {
  display: none;
}

.burger-menu {
  display: block;
  width: 50px;
  height: 6px;
  border-radius: 4px;
  background-color: #fff;
  margin: 0 0 7px;
}
.morder_design {
  margin: 0px;
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  }

 .portfolio {
  margin: 0px;
  font-family: 'Raleway';
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  }

  .unique-text {
  line-height: 24px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;  
  padding: 19 0 0 0;
  width: 50%;
  }

 .started {
  margin: 30px 200px 0;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  height: 53px;
  width: 170px;
  background-color: #998675;
  border-radius: 5px;
  box-shadow: inset 1px 0px 1px 0px #736357;
 }

 .started:hover{
    background-color:#38312b;
 }
 .block-circle {
  display: flex;
  margin: 0 auto;
  padding: 322px 0 30px 0;
  align-items: flex-end;
}

 .circle {
  display: block;
  margin: 0 6px 0 0;
  width: 11px;
  height: 11px;
  background-color: #8c8c8c;
  border-radius: 50%;
 }

 .circle:hover {
  border: 2px solid #998675;
  background-color:  #38312b;
 }
 .web {
  max-width: 60%;
  padding:  70px 368px 0 368px;
 }

 .marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type:none;
  width: 100%;
 }

 .list-desing {
  width: 24%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
 }

 .link-desing {
  text-decoration: none;
 }

 .icon{
  fill: #555555;
 }

 .link-desing:hover .icon{
   fill:#c7b299;
 }

 .link-desing:hover .app-design {
   color: #c7b299;
 }

 .marketing-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  line-height: 24px;
 }

 .list-desing::after {
  content: "";
  display: block;
  margin: 0 100;
  width: 63px;
  height: 2px;
  background-color:#d3cdc7f8;
 }
 .list-desing:hover::after {
  background-color: #c7b299;
 }

 .app-design {
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  text-align: center;
 }

 .realization {
  background-color: #fbfaf8;
  margin-top: 80px;
 }

 .container_realization {
  padding: 83px 346px 0 346px;
 }

 .ideas {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  text-align: center;
 }

 .ideas-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  width: 60%;
  margin: 0 auto;
  padding: 0 0 25px 0;
 }

 .three-photo {
  width: 95%;
  height: 500px;
  background-image: url(../img/center.jpg), url(../img/left.jpg),
  url(../img/right.jpg);
  background-size: 70%, 63%, 63%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.wordpress {
  background-color:#35261f;
}

.container_wordpress {
  padding: 48px 346px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.waxom_multipurpose {
  margin: 0;
  font-family: 'Raleway';
  font-size: 28px;
  color: #c7b299;
  font-family: 'Raleway';
  font-size: 28px;
  color: #ffffff;
}

.colortext {
  color:#c7b299;
}

.wordpress-text {
  margin: 0 0 20px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  color: #615855;
}

.purchase_now {
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  background-color: #998675;
  border-radius: 5px;
  box-shadow: inset 1px 0px 1px 0px #736357;
  transition: transform 1s ease-out,
  background-color 800ms ease,
  border-radius 1s ease-out;
}

.purchase_now:hover{
    transform: rotate(360deg);
    background-color: rgba(223, 214, 189, 0.329);
    border-radius: 50%;
}
.projects {
    padding: 80px 376px 0;
}

.our_latest {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.projects-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  width: 60%;
  margin: 16px 250px;
}

.menu-list {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin: 0 auto;
}

.link-menu {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  line-height: 21px;
  border-radius: 2px;
  border: 1px solid #d6d6d6 ;
  padding: 2px 18px;
}
.link-menu:hover{
  background-color: #998675;
  color:#d4d1ce;
}
.link-menu:active {
  border: 2px solid  #474039;
}
.list-picture{
  padding: 40px 300px 70px 300px;
}
.list_of_cards{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.link-cards{
  text-decoration: none;
}
.title-cards{
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}
.cards-txt{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  line-height: 20px;
}
.picture{
  position: relative;
  padding: 0 0 30px 30px;
  display: block;
}
.pic:hover{
  filter: brightness(40%);
}
.button-picture,
.button-lupa{
  width: 20px;
  height: 20px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 98px;
}

.button-lupa:hover {
  background-color:  #b8b6b4;
}

.button-picture:hover {
  background-color:   #b8b6b4;
}

.picture:hover .button-picture {
display: block;
}

.picture:hover .button-lupa {
  display: block;
}

.button-picture {
  background-image:url("../img/link.svg");
  left: 48%;
}

.button-lupa {
  background-image:url("../img/lupa.svg");
  right: 37%;
}

.txt-block {
  width: 370px;
  padding: 10px;
  margin: -4px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#fbfaf8;
  position: relative;
}

.txt-block:before {
  content: "";
  border: 10px solid transparent; 
  border-bottom: 10px solid#fbfaf8;
  position: absolute;
  top: -20px;
  left: 15px;
}
.txt-block:hover.txt-block:before{
  border-bottom: 10px solid #38312b;
}
.txt-block:hover{
  background-color:#362f2d ;
}
.load_more{
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  height: 50px;
  width: 170px;
  background-color: #998675;
  border-radius: 2px;
  border:none;
  margin: 0 0 0 550px;
  animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
  cursor: pointer;
  letter-spacing: 0.2em;
  padding: 1em 2em 1.1em;
  position: relative;
  vertical-align: top;
}
@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
  100%{ bottom: 40px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}

.load_more:hover{
background-color:#38312b;
}
.video{
  width: 1440px;
  box-sizing: border-box;
}
.container-video{
  padding: 0 0 0 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-file{
  object-fit: cover;
  width: 1920px;
  height: 707px;
}
.video-wrp{
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
}
.heading-video{
  display: block;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.video-txt-btn{
  display: block;
  margin: 0 auto;
  outline: none;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.txt-video{
  display: block;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 28px;
  width: 500px;
}

.iphone {
  background-color: rgba(251, 250, 248, 1);
  background-image: url("../img/iphone_in_hand.png");
  background-repeat: no-repeat;
  background-position: bottom left 423px;
  padding: 50px 0 150px 400px;

}

.container-phone {
  padding:70px 400px 0;
}

.mobile {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  color: rgba(85, 85, 85, 1);
  padding: 15px 0 5px 17px;
  animation: translating 10s linear 3s infinite;
}

@keyframes translating {
  0%  { transform: translate(0, 0);}
  25% { transform: translate(240px, 0);}
}
.mobile-txt{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: rgba(140, 140, 140, 1);
  line-height: 28px;
  width: 670px;
}
.mobile-txt-list{
  list-style-type: none;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: rgba(140, 140, 140, 1);
  line-height: 32px;
  padding: 0 0 0 85px;
}
.mobile-list{
  position: relative;
}
.mobile-list::before{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    left: -31px;
    top: 7px;
    background-image:url(../img/next.svg);
    border-radius: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(199, 178, 153, 1);
}
.statistics{
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.container-statistics {
  padding:60px 340px 30px 340px;
}

.statistics-link-txt {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.statistics-link-txt {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: rgba(199, 178, 153, 1);
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
 justify-content: space-between;
}

.statistics-title {
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 36px;
  margin: 10px 0 0 0;
}

.icon-static {
  fill: rgba(199, 178, 153, 1);
  padding-bottom: 30;
}

.statistics-txt::after {
content: "";
display: block;
margin: 20px 0 0 40px;
width: 40px;
height: 1px;
background-color:rgba(255, 255, 255, 1);
}

.recent{
  padding: 40px 76px 80px 370px;
}
.title-recent{
  margin: 20px 200px 20px 0;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  color: rgba(85, 85, 85, 1);
  text-align: center;
} 
.txt-recent{
  width: 60%;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: rgba(140, 140, 140, 1);
  text-align: center;
  line-height: 28px;
  margin: 0 0 0 220px;
}

.list-text-recent {
  list-style-type: none;
  display: flex;
}

.list-recent {
  display: block;
  padding: 20px 30px 0 0;
  position: relative;
}

.photo-recent:hover{
  filter: brightness(40%);
}

.title-post{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  color: rgba(140, 140, 140, 1);
  line-height: 28px;
  margin: 0 0 0 17px;
}

.title-post:hover{
  color:rgba(199, 178, 153, 1);
}

.block-recent {
  width: 370px;
  box-sizing: border-box;
  margin: -4px 0 0 0;
}

.block-recent:hover {
  background-color: #363636;
}

.txt-post {
  font-family: 'Montserrat';
  width: 311px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(140, 140, 140, 1);
  line-height: 22px;
  margin: 0 0 0 17px;
}

.button-read {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: rgba(199, 178, 153, 1);
  line-height: 20px;
  border:none;
  margin: 25px 0 0 13px;
  position: relative;
  background-color:transparent;
} 

.button-read::after {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  top: 6px;
  border: 5px solid transparent;
  border-left: 6px solid#c7b299;
}

.key-icon {
  fill: rgb(163, 162, 160);
} 

.key-left {
  background-color:transparent;
  border:none;
  border-radius: 50%;
  position: absolute;
  left: 920px;
  
 }
.key {
  background-color:transparent;
  border:none;
  position: absolute;
  right: 920px;
}

.key-icon:hover {
  border: 2px solid #998675;
  background-color:  #38312b;
}

.key:focus {
  border-color: #966637f8;
}

.calendar-block {
  width: 50px;
  display: block;
  background-position: center;
  border: none;
  position: absolute;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  padding:  10px 0 5px;
  background-color:#111111;
  top: 33px;
  left: 15px;
}

.calendar-block:hover {
  background-color:#c7b299;
}

.sep {
  width: 50px;
  top: 65px;
  left: 15px;
  display: block;
  background-position: center;
  border: none;
  position: absolute;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin: 0;
  background-color: #252525;
}

.sep:hover {
  background-color:#a48d72 ;
}

.logos {
  background-image:url(../img/phon.jpg);
  background-repeat: no-repeat;
}

.container-logos {
  max-width: 1440px;
  padding: 140px 350px 103px;
  
}

.link-logo:hover {
  transform: rotate(360deg) scale(1.5);
}

.logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.waxom-footer {
background-color: #191919;
margin: 0;
}

.container-footer {
 padding: 80px 375px 70px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.link-waxom {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.logo-waxom {
  font-family: 'Raleway';
  font-size: 34px;
  color: #ffffff;
  letter-spacing: -0.04em;
  font-weight: 300;
  margin: 10px 0;
}

.logo-waxom:hover {
  color: #998675;
}

.txt-footer {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #636060;
  line-height: 24px;
  width: 270px;
}

.txt-footer:hover {
  color:#c7b299;
}

.button-read-footer {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  line-height: 20px;
  border: none;
  position: relative;
  background-color: transparent;
  padding: 0;
}

.button-read-footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  top: 6px;
  border: 5px solid transparent;
  border-left: 6px solid#d1d1d1;
}

.title-footer {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.data {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  color: #5f5b5b;
  line-height: 20px;
  margin: 0;
}

.data:hover {
  color:#ffffff
}

hr {
  height: 1px;
  background-color: #252525;
  border:none;
}

.link-footer {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #00bff3;
  line-height: 20px;
}

.link-footer:hover {
  border:1px solid #c7b299;
}

.link-bit {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #959595;
  line-height: 20px;
}

.photo-list {
  list-style-type: none;
  width: 271px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.footer-info {
background-color: #111111;
}

.container-info {
padding: 33px 374px;
display: flex;

}

.txt-info {
font-family: 'Montserrat';
font-size: 13px;
font-weight: 300;
color: #959595;
line-height: 20px;
padding: 0 10 0 0;
}

.link-info {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  color:#bbb2b2;
  line-height: 20px;
}

.txt-inf {
font-family: 'Montserrat';
font-size: 13px;
font-weight: 300;
color: #959595;
line-height: 20px;
margin-left: auto;
}

.link-info:hover {
  color:#c7b299 ;
}


@media (max-width: 600px) {
  .container {
    padding: 0;
  }
  
  .header {
    height: 640px;
  }
  
  .logo {
    padding:20px 0 0 10px;
  }

  .menu {
   display: none;
  }

  .icon-calendar {
    margin: 11px 0 0 165px;
  }

  .unique {
    padding: 183px 23px 0 0;
    margin: 0 auto;
    margin: 0 0px 0 5px;
  }

  .slider-arrow {
    display: none;
  }
  
  .block-circle {
    display: none;
  }
  .slider {
    display: none;
  }

  .web {
    padding:0;
    margin: 0 auto;
    max-width: 100%;
  }

  .marketing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    padding: 20px 15px ;
    
  } 

  .list-desing{
    width: 40%;
    margin: 0 0 20px 0;
  }
  .container_realization {
    padding:20px 20px 0 20px;
  }

  .three-photo {
    width: 95%;
    height: 228px;
    background-size: 64%, 63%, 63%;
  }

  .ideas-text {
    width: 78%;
  }
 .container_wordpress {
  padding: 30px 15px;
 }
  
 .purchase_now {
  margin: 0 auto;
 }

 .projects {
  padding: 0;
 }

 .projects-text {
   margin: 0 auto;
   padding: 0 0 10px;
 }

 .menu-list {
   display: flex;
   flex-wrap: wrap;
   width: 93%;
   padding: 0 10px;
   margin:0;
 }

.list-picture {
  padding: 0;
}

.key-icon {
  display: none;
}

.list_of_cards {
  margin: 20px 30px 60px 3px;
  padding: 0;
}
.picture {
  margin: 0 auto;
}

.load_more {
  margin: 0 0 0 225px;
}

.container-video {
  padding: 0 837px 0 0;
}
.video-file {
  width: 600px;
  height: 500px;
}

.iphone {
  background-size: 42%;
  background-position: bottom left 15px;
  padding: 0px 0 1px 0px;
}

.container-phone {
  padding: 6px 0 0 18px;
}

.mobile {
  animation: none;
  padding: 0;

}
.mobile-txt {
  width: 450px;
  padding: 0 0 113px 0;
  margin: 0;
}

.mobile-txt-list {
  padding: 0 0 0 255px;
}

.container-statistics {
  padding: 30px 0 30px;
}

.statistics-link-txt {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.recent {
  padding: 20px 0 0 0;
}

.list-text-recent {
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.title-recent {
  margin: 0 auto;
  padding: 0 0 15px 0;
}

.txt-recent {
  width: 50%;
  margin: 0 auto;
}

.list-recent {
  padding: 20px 0 0 0;
}

.title-post {
  margin: 0;
}

.txt-post {
  margin: 0;
}

.button-read{
  margin: 25px 0 0 0;
}

.button-read::after {
  right: -25px;
}

.container-logos {
  padding: 50px 0 24px 0px;
  width: 530px;
  margin: 0 auto;
}

.logos-list {
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.container-footer {
  padding: 30px 12px 20px;
}

.button-read-footer {
  margin: 30px 0 0 0;
}

.button-read-footer::after {
  right: -20px;
}

.container-info {
  padding: 25px 80px;
}

}

@media (max-width: 375px) {

 .header {
  height: 95px;
 }

  .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

.unique {
    display: none;
  }
.burger {
    display: block;
    padding: 32px 30px 0;
  }

.icon-calendar {
  display: none;
}

form {
  display: none;
}

.logo {
  padding: 20px 0 15px 10px;
}

.marketing {
  margin: 0 auto;
  width: 90%;
}

.list-desing {
  width: 100%;
  margin: 10px 0 20px 0;
}

.wordpress-text {
  margin: 10px 0;
}
 .three-photo {
   display: none;
 }

.purchase_now {
  margin: 10px 0 0 0;
}

.menu-list {
  width: 90%;
}

.link-menu {
  line-height: 25px;
  padding: 0px 18px;
  width: 83%;
}

.list_of_cards {
  padding: 0;
}

.picture {
  margin: 0 auto;
  padding: 0;
}

.load_more {
  height: 45px;
  width: 163px;
  animation: none;
  margin: 0 0 10px 90px;
}

.container-video {
  padding: 0;
}

.video {
  width: 370px;
}

.heading-video {
  font-size: 24px;
}

.txt-video {
  width: 80%;
}

.video-file {
 width: 375px;
}

.container-phone {
  padding: 0;
}

.mobile {
  padding: 0;
  margin: 10px 0;
  font-size: 26px;
} 

.iphone {
  background-image: none;
  padding: 10px;
}

.mobile-txt {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.mobile-txt-list {
  padding: 0 47px;
}

.container-statistics {
  padding: 10px;
}
.statistics-txt::after {
  margin: 20px 45px;
}

.statistics-link-txt {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

.statistics-title {
  margin: 10px 0 0 0;
}

.txt-recent {
  width: 80%;
}

.logos {
  background-size: cover;
}
.container-logos {
  padding: 10px 0;
  width: 100%;
}

.link-logo {
  margin: 20px 0;
}

.logos-list {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.waxom-footer {
  margin: -1px;
}

.waxom-footer-block {
  margin: 0 auto;
}

.recent-posts-footer{
 display:none;
}

.our-twitter {
  display:none;
}

.title-footer {
  display: none;
}
.photo-list {
  padding: 0 0 0 40px;
}

.footer-info {
  width: 100%;
}

.container-info {
  width: 100%;
  padding: 0;
  margin: 20px 0 0px 5px;
}
}